PORT=5000
MONGO_URI=mongodb+srv://<mongodb-username>:<url-encoded-password>@<your-atlas-cluster>.mongodb.net/telegramDB?retryWrites=true&w=majority&appName=TelegramRender
BOT_TOKEN=<telegram-bot-token>
CHAT_ID=<telegram-chat-id>
